<div class="page-header">
	<h3>Welcome to the Weather App</h3>
	<p>Weather App is a simple Node Js app that uses express framework and handlebars. Simply type the name of your city, press GET and the app will return weather forecast elements for your location. Go on...knock yourself out ;) </p>
</div>